Package: com.sapo.spacebits
Name: SpacebitsMobile
Version: 1.0.5
Architecture: iphoneos-arm
Description: Spacebits iPhone App
 User this app to track the
 Spacebits Balloon launches
 Check the website for more info
Homepage: http://spacebits.eu/
Depiction: http://spacebits.eu/repo/
Maintainer: Spacebits Team <spacebits@sapo.pt>
Author: Filipe Varela <fcvarela@gmail.com>
Sponsor: SAPO <http://sapo.pt/>
Section: Utilities
